{% extends 'layouts/layout.html' %}

{% block title %} booking Tables {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
<nav class="navbar navbar-light bg-primary mb-2">
    <a class="navbar-brand" style="color: white;" href="#">Booking Page</a>
  </nav>
  <div>
    <a class=" btn btn-primary py-1 px-1 mt-3 " style="background-color: rgb(146, 206, 226) ;float: right; color:azure;border-radius: 10;" href="{% url 'add_booking' %}">add booking</a>
  </div>
<table class="table my-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">book</th>
        <th scope="col">Member</th>
        <th scope="col">expire date</th>
      </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
      <tr>
        <th scope="row">1</th>
        <td>{{booking.member.name}}</td>
        <td>{{booking.book.title}}</td>
        <td>{{booking.expiration_date}}<a class=" btn btn-primary py-1 px-1  " style="background-color: rgb(146, 206, 226) ;float: right; color:azure;border-radius: 10;" href="{% url 'update_booking' booking.id %}">extend booking</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

<!--Block javascript -->

{% block javascripts %}
{% endblock javascripts %}